<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakshi.cabber">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignupActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUX0mKbLAHawb5ZDidL1n9wEVSg8rKqVs" />

        <activity android:name=".activities.SignupCodeActivity" />
        <activity android:name=".activities.SignupCardActivity" />
        <activity android:name=".activities.WhereToGoActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity android:name=".others.SplashScreen"></activity>
        <activity android:name=".activities.FareAndRateActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.ReferNowActivity" />
        <activity android:name=".activities.PaymentsActivity" />
        <activity android:name=".activities.MyTripsActivity" />
        <activity android:name=".activities.CompleteRideInfoActivity" />
        <activity android:name=".activities.ScheduleRideActivity" />

    </application>

</manifest>